.header{
    border: 2px solid black;
    padding: 1rem;
    width: 100%;
    background-color: #101761;
    font-size: 2rem;
}

.h0{
    margin-left: 27%;
    color: #ebbf00;
}
.h1{
    border:2px solid black;
    padding: 0.5rem;
    margin-top: 3rem;
    width: 18.3rem;
    height: 2rem;
    background-color: #101761;
    color: #ebbf00;
}

.body{

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white ; 
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
}

.ul1{
    border:2px solid black;
    padding: 0.5em;
    width: 18rem;
    height: 5rem;
    background-color: #3c78d8;
}

.h2{
    border:2px solid black;
    padding: 0.5rem;
    width: 18rem;
    height: 2rem;
    background-color: #101761;
    color:#ebbf00 ;
}
.ul2{
    border:2px solid black;
    padding: 0.5rem;
    width: 18rem;
    height: 5rem;
    background-color: #3c78d8;
} 

.div{
    margin-top: 3rem;
    display: flex;
    flex-direction:column;
    align-items: center;

}

.footer{
    margin-top: 5rem;
    width: 100%;
    border: 2px solid black;
    background-color: #101761;
}

img{
    margin: 1rem;
    margin-left: 4.2rem;
    max-width: 5rem;
    max-height: 5rem;
}
