.body{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white ;
    font-family: 'Inter', sans-serif;
} 
.a{
    border:3px solid black;
    padding: 1rem;
    padding-left: 7rem;
    background-color:#101761 ;
    color: #ebbf00;
    font-size: 1.7rem;
    width: 100%;
}
.li{
    border:1.5px solid black;
    padding: 1rem;
    width: 17rem;
    height: 3rem;
    background-color: #3c78d8;
    font-size: 1.5rem;
    
}
#segunda{
    background-color: #101761;
    color: #ebbf00;
}
.ul{
    margin-top:3rem;
}

.footer{
    margin-top: 5.5rem;
    width: 100%;
    border: 2px solid black;
    background-color: #101761;
}
 
.img1{
    margin: 1rem;
    margin-left:4rem;
    max-width: 5rem;
    max-height: 5rem;
}

.img2{
    margin: 1rem;
    margin-left:4rem;
    max-width: 5.5rem;
    max-height: 5.5rem;
}