.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white ;
    font-family: 'Inter', sans-serif;
}

.nav{
    margin-top:4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.b{
    border:3px solid black;
    padding: 1rem;
    padding-left: 13rem;
    margin-bottom: 1rem;
    background-color:#101761 ;
    color: #ebbf00;
    font-size: 2rem;
    width: 100%;
}
.a{
    border:1px solid black; 
    width: 17rem;
    padding: 1rem;
    background-color: #3c78d8;
    font-size: 1.7rem;
}

.footer{
    margin-top: 10rem;
    width: 100%;
    border: 2px solid black;
    background-color: #101761;
}
 
.img1{
    margin: 1rem;
    margin-left:4rem;
    max-width: 5rem;
    max-height: 5rem;
}
